

#header{
  background-color:darkred;
  height: 65px;
}
body{
  background-color:bisque;
}
#headerspan{
  font-weight: bolder;
}
.logo{
  font-size: 45px;
  vertical-align: top;
  color: #33c611;
}
.left{
  Float:left;
  width: 485px;
}
.right{
  float:right;
  width: 485px;
}
.leftbtn{
  font-size: 40px;
  display: inline-block;
  float:left;
  border-radius: 15px;
  border-width: medium;
  border-style: groove;
  margin-bottom: 45px;
}
.rightbtn{
  font-size: 40px;
  display: inline-block;
  border-radius: 15px;
  border-width: medium;
  border-style: groove
  float:right;
  margin-bottom: 45px;
}
.textboxl{
    border-style: groove;
    border-width: thick;
    background-color: #cac7cc;
    height: 50px;
    font-size: 40px;
    border: solid 1px #6e6e6e;
    vertical-align:45px;
    color:white;
    border-style: ridge;
    border-radius: 5px;
    border-width: inherit;
    float: left;
    margin-bottom: 45px;
    
}
.textboxr{
    border-style: groove;
    border-width: thick;
    background-color: #cac7cc;
    height: 50px;
    font-size: 40px;
    border: solid 1px #6e6e6e;
    vertical-align:45px;
    color:white;
    border-style: ridge;
    border-radius: 5px;
    border-width: inherit;
    float: right;
    margin-bottom: 45px;
}
